body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site navigation +
  header */
.site-navigation,
.gilroy-font {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.33;
  letter-spacing: 3.6px;
  list-style: none;
}

.search-field {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);

}

.user-navigation {
  list-style: none;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/* slider on site */
.slider-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  color: #000000;
}

.slider-paragraph {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  color: #464646;
}

.button-details,
.gilroy-font {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.slider-descriprion {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.36px;
  color: #000000;
  list-style: none;
}

.slider-advantages-descriptions {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
  list-style: none;
}

.category-description {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.advantages-paragraph {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.advantages-title {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.logo-list {
  list-style: none;
}

.about,
.contacts {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.about-description,
.contacts-description {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #464646;
}

.about-list {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  color: #000000;
}

.footer {
  background-color: #464646;
}

.footer-logo {
  color: #ffc600;
}

.social-media-link {
  list-style: none;
}

.user-link-footer,
.compere-link-footer,
.cart-link-footer {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2.4;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
}

.site-navigation-footer {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #ffffff;
  list-style: none;
}

.user-name,
.user-email,
.user-comment {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}

.button-submit {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
}

.footer-address,
.footer-tel {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
}

/* style for catalog */

.catalog-title {
  font-family: Gilroy, sans-serif;
  font-size: 42px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.catalog-breadcrumbs {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
}

.catalog-filter {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.catalog-sort {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.sort-by {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(0, 0, 0, 0.3);
}






