@font-face {
  font-family: 'Gilroy';
  src:url(../fonts/gilroylight.woff2) format('woff2'),
      url(../fonts/gilroylight.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'),
       url(../fonts/gilroyextrabold.woff) format('woff');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensans.woff2) format('woff2'),
       url(../fonts/opensans.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensanslight.woff2) format('woff2'),
       url(../fonts/opensanslight.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}


body {
  margin: 0;
  padding: 0;

  font-family: Gilroy, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site navigation +
  header */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

.main-header {
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
  padding: 21px 61px 67px 60px;
  box-sizing: border-box;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.logo-device:hover {
  opacity: 0.6;
}

.logo-device:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.site-navigation-link,
.header-navigation-delivery,
.header-navigation-warranty,
.header-navigation-contacts {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.header-navigation-delivery {
  margin-left: 295px;
  margin-right: 38px;
}

.header-navigation-warranty {
  margin-right: 100px;
}

.user-navigation {
  margin: 0;
  padding-top: 24px;
  padding-left: 0;
  display: flex;
  list-style: none;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.site-navigation-link:hover,
.header-navigation-delivery:hover,
.header-navigation-warranty:hover,
.header-navigation-contacts:hover {
  opacity: 0.6;
}

.site-navigation-link:active,
.header-navigation-delivery:active,
.header-navigation-warranty:active,
.header-navigation-contacts:active {
  opacity: 0.3;
}

.user-icon {
  margin-right: 10px;
}

.compare-icon {
  margin-right: 5px;
}

.cart-icon {
  margin-right: 6px;
}

.compere-link {
  margin: 0px 40px 0px 217px;
}


.search-field {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.search-icon {
  position: relative;
  right: 446px;
  top: 3px;
}


.search-field input::placeholder {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  opacity: 0.3;
}

.search-field input {
  padding-top: 26px;
  padding-left: 38px;
}

/*button search on the site*/

.search-text {
  border: none;
  background-color: transparent;
  width: 356px;
  box-sizing: border-box;
  height: 48px;
  padding-left: 42px;
}

.search-text {
  border-bottom: 2px solid transparent;
  padding-top: 12px;
}

.search-text:hover {
  border-bottom: 2px solid black;
  padding-top: 12px;
}


.search-button {
  width: 85px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  background: transparent;
  border: 2px solid black;
  box-sizing: border-box;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #000000;
}

.user-link:hover,
.compere-link:hover,
.cart-link:hover {
  opacity: 0.6;
}

.user-link:active,
.compere-link:active,
.cart-link:active {
  opacity: 0.3;
}


/* slider on site */

.slider-image-selfie,
.slider-image-watch,
.slider-image-quadrocopter {
  position: relative;
  bottom: 30px;
  margin-left: 90px;

}

.items-description-selfie,
.items-description-watch,
.items-description-quadrocopter {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#f7e296 80px,#ffffff 0px, #ffffff 0px, #ffffff 481px);
}

.items-description-watch,
.items-description-quadrocopter {
  display: none;
}

.items-description ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.slider-heading {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
  color: #000000;
}

.slider-paragraph {
  margin: 0 auto;
  margin-right: 70px;
  margin-top: 20px;
  width: 490px;
  font-family: OpenSans, sans-serif;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  font-size: 15px;
  color: #464646;
}

.button-details {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 222px;
  padding-top: 8px;
}

.button-details:hover {
  background: #f0c52e;
}

.button-details:active {
  color: rgba(0, 0, 0, .3);
}

.button-slider {
  margin-top: 45px;
}

.slider-descriprion {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  line-height: 1.33;
  font-weight: 300;
  letter-spacing: 0.36px;
  color: #000000;
  list-style: none;
}

.slider-advantages-descriptions {
  display: flex;
  margin-top: 7px;
  margin-bottom: 117px;
  font-family: OpenSans, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
  list-style: none;
}

.items-description {
  display: flex;
}

.stick-long {
  margin-top: 50px;
}

.slider-weight {
  margin: 50px 74px 0px 79px;
}

.slider-material {
  margin-top: 50px;
}

.slider-radius {
  margin: 50px 0px 0px 64px;
}

/*catalog items groups */

.items-groups {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 83px;
}

.items-link div {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-description {
  width: 160px;
  box-sizing: border-box;
  margin-top: 30px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.items-link:hover div {
  display: block;
  background-color: #f0c52e;
}

.items-link:active div svg {
  opacity: 0.3;
}

.category-description:active {
  opacity: 0.3;
}

.items-link:active .category-description {
  opacity: 0.3;
}

.align-virtual svg {
  margin: 52px 32px 53px 31px;
}

.align-stick svg {
  margin: 41px 36px 2px 38px;
}

.align-camera svg {
  margin: 38px 40px 35px 49px;
}

.align-bracelets svg {
  margin: 50px 25px 45px 28px;
}

.align-watch svg {
  margin: 32px 49px 30px 55px;
}

.align-quadrocopter svg {
  margin: 49px 15px 42px 13px;
}

/*deliveri warranty credit*/

.delivery,
.warranty,
.credit {
  margin-left: 200px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  min-height: 370px;
  background: linear-gradient(#ffffff 80px,#e5e5e5 0px, #e5e5e5 0px, #e5e5e5 288px);
  margin-bottom: 94px;
}

.advantages-container {
  position: relative;
  left: 200px;
  bottom: 180px;
}

.advantages-title {
  width: 278px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
}

.advantages-header {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.advantages-title ul {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  margin-left: 20px;
  list-style: none;
}

.advantages-title ul li {
  margin-bottom: 51px;
}

.advantages-paragraph {
  width: 426px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.delivery {
  background-image: url("../img/delivery.svg");
  background-position: right 265px bottom 60px;
  background-repeat: no-repeat;
}

.warranty {
  display: none;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.credit {
  display: none;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

/*partners logo*/

.partners-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 90px;
}

.partners-logo ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.logo-list {
  list-style: none;
}


.partners-logo a {
  display: flex;
  justify-content: space-between;
}

.dji-logo:hover {
}

.dji-logo:hover {
  background: url(../img/dji-1-jpg.png);
}

.sp-gadgets-logo:hover {
  background: url(../img/s-gadgets-2-jpg.png);
}

.go-pro-logo:hover {
  background: url(../img/go-pro2-jpg.png);
}

.vive-logo:hover {
  background: url(../img/vive-4-jpg.png);
}



 /*about and contacts */

.about-contacts {
  display: flex;
  justify-content: center;
}

.about,
.contacts {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.about-description,
.contacts-description {
  width: 462px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.about-paragraph {
  width: 480px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.about-list {
  margin-bottom: 55px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  list-style: none;
}

.button-about {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 260px;
  padding-top: 8px;
  margin-bottom: 80px;
}

.button-about:hover,
.button-write-us:hover {
  background: #f0c52e;
}

.button-about:active,
.button-write-us:active {
  color: rgba(0, 0, 0, .3);
}

.section-contacts {
  margin-left: 115px;
}

.contacts-paragraph {
  margin-bottom: 40px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.map {
  margin-bottom: 70px;
}

.button-write-us {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 260px;
  padding-top: 8px;
  margin-left: 5px;
}


/*footer*/

.footer {
  background-color: #464646;
  min-height: 323px;
}

/* enter , compare and card link in footer */

.user-link-main,
.user-link-footer,
.compere-link-footer,
.cart-link-footer,
.user-link-footer-log {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  opacity: 0.7;
  line-height: 2.4;
  letter-spacing: 0.15px;
  font-weight: 300;
  fill: #ffc600;
  color: #ffffff;
  list-style: none;
}

.user-link-footer-log:hover,
.compere-link-footer:hover,
.cart-link-footer:hover {
  opacity: 1;
}

.user-link-footer-log:active,
.compere-link-footer:active,
.cart-link-footer:active {
  opacity: 0.3;
}

.footer-logo-nav {
  display: flex;
  justify-content: space-between;
}

.footer-logo-nav ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding-top: 73px;
}

.user-link-main {
  margin-right: 44px;
}

.user-link-footer-log {
  margin-right: 20px;
}

.user-link-footer {
  opacity: 0.3;
  margin-right: 44px;
}

.compere-link-footer {
  margin-right: 41px;
}

/*footer logo */

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  padding-top: 65px;
  fill: #ffc600;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

/*delivery, warranty, contacts*/

.footer-contacts-nav {
  display: flex;
  margin-top: 54px;
}

.site-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  list-style: none;
  color: #ffffff;
}

.site-navigation-delivery,
.site-navigation-warranty,
.site-navigation-contacts {
  color: #ffffff;
}

.site-navigation-contacts:hover,
.site-navigation-delivery:hover,
.site-navigation-warranty:hover {
  opacity: 0.6;
}

.site-navigation-contacts:active,
.site-navigation-delivery:active,
.site-navigation-warranty:active {
  opacity: 0.3;
}

.site-navigation-footer {
  margin: 0 0 0 166px;
}

.site-navigation-warranty {
  margin-left: 38px;
}

.site-navigation-contacts {
  margin-left: 38px;
}

/*address and telephone of a company */

.footer-address,
.footer-tel {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  color: #ffffff;
}

.footer-tel {
  display: block;
  margin-left: auto;
}

.footer-address {
  margin: 0px;
}

/*social-media*/

.social-and-logo {
  display: flex;
}

.social-and-logo ul {
  padding-left: 0;
  padding-top: 69px;
}

.social-media-link {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.facebook-logo,
.instagram-logo,
.twitter-logo {
  display: flex;
  /*margin-top: 69px;*/
  opacity: 0.3;
}

.facebook-logo:hover,
.instagram-logo:hover,
.twitter-logo:hover {
  opacity: 0.6;
}

.facebook-logo:active,
.instagram-logo:active,
.twitter-logo:active {
  opacity: 0.1;
}

.facebook-logo {
  margin-right: 23px;
}

.twitter-logo {
  margin-left: 23px;
}

/* HTMLacademy logo */

.htmlacademy-logo-footer {
  fill: #ffc600;
  margin-top: 69px;

}

.htmlacademy-logo-footer:hover {
  opacity: 0.6;
}

.htmlacademy-logo-footer:active {
  opacity: 0.3;
}

.user-name,
.user-email,
.user-comment {
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}

.button-submit {
  display: block;
  border: 0px;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 222px;
  padding-top: 3px;
}

.button-submit:hover {
  background: #f0c52e;
}

.button-submit:active {
  color: rgba(0, 0, 0, .3);
}


/* style for catalog */

.catalog-descriptions {
  margin-left: 60px;
}

.catalog-descriptions ul{
  padding-left: 0;
  display: flex;
}

.catalog-title {
  font-family: Gilroy, sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.catalog-breadcrumbs {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: #000000;
  opacity: 0.3;
  list-style: none;
  margin-bottom: 52px;
}

.arrow {
  margin-left: 16px;
  margin-right: 19px;
}

.arrow-catalog {
  margin-left: 18px;
  margin-right: 17px;
}

.switch {
  opacity: 0.2;
}

.switch:hover {
  opacity: 0.4;
}

.switch:active {
  opacity: 1;
}

.breadcrumbs-main:hover,
.breadcrumbs-catalog:hover,
.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-main:active,
.breadcrumbs-catalog:active,
.breadcrumbs-item:active {
  opacity: 0.1;
}

.filter {
  width: 467px;
  display: flex;
  flex-direction: column;
}

.filter-color {
  display: flex;
  flex-direction: column;
}

.filter-bluetooth {
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.catalog-sort {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.sort-by {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.3;
}

.sort-by:hover {
  opacity: 0.6;
}

.sort-by:active {
  opacity: 1;
}

/*checkbox*/

.price-title,
.color-title,
.tehno-title {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  ine-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.checkbox-title {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.14px;
  color: #000000;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background: linear-gradient(#ffffff 16px, #f0c52e 16px, #f0c52e 24px, #ffffff 24px);
  color: #000000;
  min-height: 40px;
  width: 200px;
  padding-top: 3px;
}

.add-to-cart:hover {
  background: #f0c52e;
}

.add-to-cart:active {
  color: rgba(0, 0, 0, .3);
}

.add-to-compare {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.5;
  line-height: 2.77;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.add-to-compare:hover {
  color: #000000;
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}

.product-title {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.product-price {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: #464646;
}

/*next page and forward button*/

.forward-button,
.back-button,
.numbers {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.numbers {
  opacity: 0.3;
}

.numbers:hover {
  opacity: 0.6;
}

.numbers:active {
  opacity: 1;
}

/* pop up*/

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 240px;
  color: #000000;
  width: 960px;
  height: 553px;

  display: none;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  padding: 80px 80px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

input [type="text"]::placeholder {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.4;
}

.pop-up-map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}








