@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroylight.woff2) format('woff2'),
  url(../fonts/gilroylight.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'),
  url(../fonts/gilroyextrabold.woff) format('woff');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensans.woff2) format('woff2'),
  url(../fonts/opensans.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensanslight.woff2) format('woff2'),
  url(../fonts/opensanslight.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}


body {
  margin: 0;
  padding: 0;

  font-family: Gilroy, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site navigation +
  header */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

.main-header {
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
  padding: 21px 60px 67px 60px;
  box-sizing: border-box;
}

.main-header-catalog {
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
  padding: 21px 60px 31px 60px;
  box-sizing: border-box;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header-nav-catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-device:hover {
  opacity: 0.6;
}

.logo-device:active {
  opacity: 0.3;
}

.site-navigation {
  position: relative;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.site-navigation-catalog {
  width: 1160px;
  margin: 0 auto;
  min-height: 163px;
  display: flex;

  position: absolute;
  left: -60px;

  visibility: hidden;
  background-color: #f7e296;

  z-index: 1;
}

.site-navigation-catalog:hover {
  visibility: visible;
}

.site-navigation-link:hover + .site-navigation-catalog {
  visibility: visible;

  width: 1160px;
  min-height: 163px;
  box-sizing: border-box;

  background-color: #f7e296;
}

.site-navigation-catalog ul {
  padding: 0;
  margin-top: 30px;

  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;

  list-style: none;
}

.navigation-catalog-virtual {
  margin-left: 60px;
}

.navigation-catalog-list {
  margin-right: 70px;
  margin-left: 50px;
}


.site-navigation-link,
.header-navigation-delivery,
.header-navigation-warranty,
.header-navigation-contacts {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.header-link-delivery {
  margin-left: 297px;
  margin-right: 36px;
}

.header-link-contacts {
  margin-left: auto;
}

.user-navigation {
  margin: 0;
  padding-top: 22px;
  padding-left: 0;
  display: flex;
  list-style: none;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.user-navigation-catalog {
  margin: 0;
  padding-top: 21px;
  padding-left: 0;
  display: flex;
  list-style: none;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.site-navigation-link:hover,
.header-navigation-delivery:hover,
.header-navigation-warranty:hover,
.header-navigation-contacts:hover {
  opacity: 0.6;
}

.site-navigation-link:active,
.header-navigation-delivery:active,
.header-navigation-warranty:active,
.header-navigation-contacts:active {
  opacity: 0.3;
}


.user-icon {
  margin-right: 15px;
}

.user-icon-catalog {
  margin-right: 10px;
}

.compare-icon {
  margin-right: 5px;
}

.cart-icon {
  margin-right: 6px;
}

.user-link-catalog {
  margin-right: 19px;
}

.compere-link {
  margin: 0px 42px 0px 217px;
}

.compere-link-catalog {
  margin: 0px 41px 0px 45px;
}

.user-link:hover,
.compere-link:hover,
.cart-link:hover {
  opacity: 0.6;
}

.user-link:active,
.compere-link:active,
.cart-link:active {
  opacity: 0.3;
}

.search-field {
  background-image: url("../img/search.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position: 1% 65%;

}

.search-field-border {
  display: flex;
  padding-top: 10px;
}

.search-text {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 356px;
  border: none;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  border-bottom: 2px solid transparent;
  padding-left: 42px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
}

.search-text:hover {
  position: relative;
  border-bottom: 2px solid black;
}


.search-button {
  width: 85px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  background: transparent;
  border: 2px solid black;
  box-sizing: border-box;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #000000;
  visibility: hidden;
}

.search-button:hover {
  background: black;
  color: #ffffff;
  visibility: visible;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-text:focus + .search-button {
  visibility: visible;
}


.strip {
  position: absolute;
  width: 95px;
  right: 840px;
  top: 265px;
  border: solid 3px #ffffff;
}


/* slider on site */

.slider-image-selfie,
.slider-image-watch,
.slider-image-quadrocopter {
  position: relative;
  bottom: 30px;
  margin-left: 90px;

}

.items-description-selfie,
.items-description-watch,
.items-description-quadrocopter {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#f7e296 80px, #ffffff 0px, #ffffff 0px, #ffffff 481px);
}

.items-description-watch,
.items-description-quadrocopter {
  display: none;
}

.items-description-selfie::before {
  content: "01";
  position: absolute;
  right: 85px;
  bottom: 425px;
  font-family: Gilroy, sans-serif;
  font-size: 180px;
  font-weight: 800;
  width: 166px;
  min-height: 131px;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.items-description-watch::before {
  content: "02";
  position: absolute;
  right: 85px;
  bottom: 425px;
  font-family: Gilroy, sans-serif;
  font-size: 180px;
  font-weight: 800;
  width: 166px;
  min-height: 131px;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.slider-button-active::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 1px solid #000000;
  background: #ffffff;
}

.items-description-quadrocopter::before {
  content: "03";
  position: absolute;
  right: 85px;
  bottom: 425px;
  font-family: Gilroy, sans-serif;
  font-size: 180px;
  font-weight: 800;
  width: 166px;
  min-height: 131px;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;
}


.items-description ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.slider-heading {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
  color: #000000;
}

.slider-paragraph {
  margin: 0 auto;
  margin-right: 70px;
  margin-top: 19px;
  width: 490px;
  font-family: OpenSans, sans-serif;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  font-size: 15px;
  color: #464646;
}

.button-details {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 222px;
  padding-top: 8px;
}

.button-details:hover {
  background: #f0c52e;
}

.button-details:active {
  color: rgba(0, 0, 0, .3);
}

.button-slider {
  margin-top: 45px;
}

.slider-all {
  position: relative;
}

.slider-all::before {
  position: absolute;
  top: 5px;
  left: 620px;
  content: " ";
  width: 94px;
  border: solid 3px #ffffff;
  background: transparent;
}

.slider-buttons {
  top: 292px;
  right: 103px;
  position: absolute;
  cursor: pointer;
}

.slider-button {
  padding: 0;
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button-mid {
  margin-right: 16px;
  margin-left: 16px;
}

.slider-descriprion {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  line-height: 1.33;
  font-weight: 300;
  letter-spacing: 0.36px;
  color: #000000;
  list-style: none;
}

.slider-advantages-descriptions {
  display: flex;
  margin-top: 7px;
  margin-bottom: 113px;
  font-family: OpenSans, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
  list-style: none;
}

.items-description {
  display: flex;
}

.stick-long {
  margin-top: 45px;
}

.slider-weight {
  margin: 45px 74px 0px 79px;
}

.slider-material {
  margin-top: 45px;
}

.slider-radius {
  margin: 50px 0px 0px 64px;
}

/*catalog items groups */

.items-groups {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 83px;
}

.items-link div {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-description {
  width: 160px;
  box-sizing: border-box;
  margin-top: 35px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.items-link:hover div {
  display: block;
  background-color: #f0c52e;
}

.items-link:active div svg {
  opacity: 0.3;
}

.category-description:active {
  opacity: 0.3;
}

.items-link:active .category-description {
  opacity: 0.3;
}

.align-virtual svg {
  margin: 52px 32px 53px 31px;
}

.align-stick svg {
  margin: 41px 36px 2px 38px;
}

.align-camera svg {
  margin: 38px 40px 35px 49px;
}

.align-bracelets svg {
  margin: 50px 25px 45px 28px;
}

.align-watch svg {
  margin: 32px 49px 30px 55px;
}

.align-quadrocopter svg {
  margin: 49px 15px 42px 13px;
}

/*deliveri warranty credit*/

.delivery,
.warranty,
.credit {
}

.advantages {
  display: flex;
  justify-content: space-between;
  min-height: 370px;
  background: linear-gradient(#ffffff 80px, #e5e5e5 0px, #e5e5e5 0px, #e5e5e5 288px);
  margin-bottom: 94px;
}

.advantages-wrapper {
  display: flex;
}

.advantages-title {
  position: relative;
  width: 278px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
}

.advantages-title::before {
  position: absolute;
  top: 136px;
  left: 121px;

  content: "";

  border: solid 3px #000000;
  width: 313px;
  transform: rotate(90deg);

  background: transparent;
}

.advantages-header {
  margin: 0;
  margin-bottom: 31px;
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.advantages-title ul {
  padding: 0;
  margin: 0;
  padding-top: 62px;
  list-style: none;
}

.advantages-title ul li {
  margin-bottom: 21px;
}

.advantages-container {
  width: 100%;
  padding-top: 55px;
  margin-left: 125px;
}

.advantages-paragraph {
  margin: 0;
  width: 426px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.delivery {
  background-image: url("../img/delivery.svg");
  background-position: 89% 80%;
  background-repeat: no-repeat;
}

.warranty {
  display: none;
  background-image: url("../img/warranty.svg");
  background-position: 89% 80%;
  background-repeat: no-repeat;
}

.credit {
  display: none;
  background-image: url("../img/credit.svg");
  background-position: 89% 80%;
  background-repeat: no-repeat;
}

.about,
.contacts {
  margin-bottom: 45px;
}

.about-list-line::before,
.about-list-avtotrading:before,
.about-list-ecspedition:before {
  content: "";
  position: absolute;
  left: 20px;

  width: 8px;
  height: 8px;
  border: solid 2px #e5e5e5;
  border-radius: 50%;
}

.about-list-line::before {
  top: 360px;
}

.about-list-avtotrading::before {
  top: 400px;
}

.about-list-ecspedition::before {
  top: 440px;
}

.advantages-title-delivery-center {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background-color: #000000;
  color: #000000;
  min-height: 40px;
  width: 280px;
}

.advantages-title-warranty-center {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background: linear-gradient(#e5e5e5 16px, #f0c52e 16px, #f0c52e 24px, #e5e5e5 24px);
  color: #000000;
  min-height: 40px;
  width: 160px;
  padding-top: 10px;
}

.advantages-title-credit-center {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background: linear-gradient(#e5e5e5 16px, #f0c52e 16px, #f0c52e 24px, #e5e5e5 24px);
  color: #000000;
  min-height: 40px;
  width: 160px;
  padding-top: 10px;
}

.advantages-title-warranty-center:hover,
.advantages-title-credit-center:hover {
  background: #ffc600;
}

.advantages-title-warranty-center:active {
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background-color: #000000;
  color: #000000;
  min-height: 40px;
  width: 280px;
}

.advantages-title-credit-center:active {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background-color: #000000;
  color: #000000;
  min-height: 40px;
  width: 280px;
}

.delivery-text {
  color: #f7e296;
}

.warranty-text:active,
.credit-text:active {
  color: #f7e296;
}

/*partners logo*/

.partners-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 105px;
}

.partners-logo ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.logo-list {
  list-style: none;
}


.partners-logo a {
  display: flex;
  justify-content: space-between;
}

.dji-logo:hover {
}

.dji-logo:hover {
  background: url(../img/dji-1-jpg.png);
}

.sp-gadgets-logo:hover {
  background: url(../img/s-gadgets-2-jpg.png);
}

.go-pro-logo:hover {
  background: url(../img/go-pro2-jpg.png);
}

.vive-logo:hover {
  background: url(../img/vive-4-jpg.png);
}


/*about and contacts */

.about-us-section::before {
  content: "";
  position: absolute;
  width: 74px;

  bottom: 647px;

  border: solid 3px #000000;
}

.section-contacts::before {
  content: "";
  position: absolute;
  width: 74px;

  bottom: 647px;
  left: 620px;

  border: solid 3px #000000;
  background: transparent;
}

.about-contacts {
  position: relative;
  display: flex;
  justify-content: center;
}

.about,
.contacts {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.about-description,
.contacts-description {
  width: 462px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.about-paragraph {
  width: 480px;
  margin-top: 30px;
  margin-bottom: 65px;
}

.about-list {
  margin-bottom: 55px;
  padding-left: 35px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  list-style: none;
}

.button-about {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 260px;
  padding-top: 8px;
  margin-bottom: 80px;
}

.button-about:hover,
.button-write-us:hover {
  background: #f0c52e;
}

.button-about:active,
.button-write-us:active {
  color: rgba(0, 0, 0, .3);
}

.section-contacts {
  margin-left: 115px;
}

.contacts-paragraph {
  margin-bottom: 40px;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.map {
  margin-bottom: 70px;
}

.button-write-us {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 260px;
  padding-top: 8px;
  margin-left: 5px;
}


/*footer*/

.footer {
  position: relative;
  background-color: #464646;
  min-height: 323px;
}

.footer::before {
  content: "";
  position: absolute;
  width: 74px;

  bottom: 80px;
  left: 380px;

  border: solid 3px #ffc600;
}

/* enter , compare and card link in footer */

.user-link-main,
.user-link-footer,
.compere-link-footer,
.cart-link-footer,
.user-link-footer-log {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  opacity: 0.7;
  line-height: 2.4;
  letter-spacing: 0.15px;
  font-weight: 300;
  fill: #ffc600;
  color: #ffffff;
  list-style: none;
}

.user-link-footer-log:hover,
.compere-link-footer:hover,
.cart-link-footer:hover {
  opacity: 1;
}

.user-link-footer-log:active,
.compere-link-footer:active,
.cart-link-footer:active {
  opacity: 0.3;
}

.footer-logo-nav {
  display: flex;
  justify-content: space-between;
}

.footer-logo-nav ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding-top: 60px;
}

.user-link-main {
  margin-right: 45px;
}

.user-link-footer-log {
  margin-right: 20px;
}

.user-link-footer {
  opacity: 0.3;
  margin-right: 45px;
}

.compere-link-footer {
  margin-right: 41px;
}

.cart-logo-footer {
  margin-right: 7px;
}

/*footer logo */

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: 65px;
  fill: #ffc600;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

/*delivery, warranty, contacts*/

.footer-contacts-nav {
  display: flex;
  align-items: flex-start;
  margin-top: 38px;
}

.site-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  list-style: none;
  color: #ffffff;
}

.site-navigation-delivery,
.site-navigation-warranty,
.site-navigation-contacts {
  color: #ffffff;
}

.site-navigation-contacts:hover,
.site-navigation-delivery:hover,
.site-navigation-warranty:hover {
  opacity: 0.6;
}

.site-navigation-contacts:active,
.site-navigation-delivery:active,
.site-navigation-warranty:active {
  opacity: 0.3;
}

.site-navigation-footer {
  margin: 0 0 0 164px;
}

.site-navigation-warranty {
  margin-left: 34px;
}

.site-navigation-contacts {
  margin-left: 33px;
}

/*address and telephone of a company */

.footer-address,
.footer-tel {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.1;
  color: #ffffff;
}

.footer-tel {
  display: block;
  margin-left: auto;
}

.footer-address {
  margin: 0px;
}

/*social-media*/

.social-and-logo {
  display: flex;
}

.social-and-logo ul {
  padding-left: 21px;
  padding-top: 65px;
}

.social-media-link {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.facebook-logo,
.instagram-logo,
.twitter-logo {
  display: flex;
  opacity: 0.3;
}

.facebook-logo:hover,
.instagram-logo:hover,
.twitter-logo:hover {
  opacity: 0.6;
}

.facebook-logo:active,
.instagram-logo:active,
.twitter-logo:active {
  opacity: 0.1;
}

.facebook-logo {
  margin-left: 3px;
}

.instagram-logo {
  margin-left: 23px;
}

.twitter-logo {
  margin-left: 23px;
}

/* HTMLacademy logo */

.htmlacademy-logo-footer {
  fill: #ffc600;
  margin-top: 63px;

}

.htmlacademy-logo-footer:hover {
  opacity: 0.6;
}

.htmlacademy-logo-footer:active {
  opacity: 0.3;
}

.user-name,
.user-email,
.user-comment {
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}

.button-submit {
  display: block;
  border: 0px;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  min-height: 40px;
  width: 200px;

  padding-top: 3px;
  margin-top: 30px;
  margin-left: 60px;

}

.button-submit:hover {
  background: #f0c52e;
}

.button-submit:active {
  color: rgba(0, 0, 0, .3);
}


/* style for catalog */

.catalog-wrapper {
  position: relative;

  background: rgb(235, 235, 235);
  background: linear-gradient(90deg, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.catalog-wrapper::before {
  content: "";

  position: absolute;
  width: 100%;
  min-height: 65px;

  background: linear-gradient(90deg, rgba(217,217,217,1) 33%, rgba(235,235,235,1) 33%, rgba(235,235,235,1) 100%);
}

.catalog-container {
  display: flex;
}

.catalog-wrap {
  padding-top: 70px;
  padding-left: 70px;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

/*catalog filter */

.filter-color,
.filter-bluetooth {
  margin-left: 60px;
}

.filter-color {
  margin-top: 10px;
}

.filter-item {
  margin: 0;
  padding: 0;

  margin-top: 83px;
  margin-left: 60px;

  border: none;
}

.filter::before {
  content: "";

  width: 199px;

  position: absolute;
  border: 1px solid #000000;
  top: 135px;
  left: 60px;
}

.filter::after {
  content: "";

  width: 199px;

  position: absolute;
  border: 1px solid #000000;
  top: 275px;
  left: 60px;
}

.range-filter {
  width: 216px;
}

.filter-item legend {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.price-controls label {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  opacity: 0.2;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 35px;
  background-color: #ebebeb;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 25px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 107px;
}

.price-controls {
  display: block;
  margin-top: 10px;
  width: 100px;

  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  opacity: 0.2;
}

.max-price {
  text-align: right;
}


.catalog-descriptions ul {
  padding-left: 0;
  display: flex;
}

.catalog-title {
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 25px;
  margin-left: 60px;
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.catalog-breadcrumbs {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: #000000;
  opacity: 0.3;
  list-style: none;
  margin-bottom: 52px;
  margin-left: 60px;
}

.arrow {
  margin-left: 11px;
  margin-right: 20px;
}

.arrow-catalog {
  margin-left: 12px;
  margin-right: 17px;
}

.breadcrumbs-main:hover,
.breadcrumbs-catalog:hover,
.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-main:active,
.breadcrumbs-catalog:active,
.breadcrumbs-item:active {
  opacity: 0.1;
}




.filter {
  position: relative;
  min-width: 328px;
  display: flex;
  flex-direction: column;
  background: #ebebeb;
}

.filter-color {
  display: flex;
  flex-direction: column;
}

.filter-color label {
  line-height: 2.92;
  letter-spacing: 0.14px;
}

.filter-bluetooth {
  line-height: 2.86;
  letter-spacing: 0.14px;
}

.filter-bluetooth {
  display: flex;
  flex-direction: column;
}

.filter-bluetooth::before {
  content: "";

  width: 199px;

  position: absolute;
  border: 1px solid #000000;
  top: 560px;
  left: 60px;
}


.catalog-filter-color {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

.catalog-filter {
  min-height: 33px;

  margin-left: 62px;
  font-family: Gilroy, sans-serif;
  background: #d9d9d9;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 2;
  letter-spacing: 3.2px;
  color: #000000;
}

.sorting-by {
  display: flex;
  list-style: none;
}

.sorting {
  position: relative;
  display: flex;
  align-items: center;

  min-height: 65px;
  background: #ebebeb;
}

.catalog-sort {
  margin-left: 74px;
  margin-right: 20px;
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.sort-by {
  padding-bottom: 6px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.3;
}

.sort-by-type {
  margin: 0px 30px 0px 30px;
}

.sort-by-popularity {
  margin-right: 230px;
}

.sort-by:hover {
  opacity: 0.6;
}

.sort-by:active {
  opacity: 1;
}

.sorting-up {
  opacity: 0.2;
  margin-right: 19px;
}

/*checkbox*/

.color-title {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 17px;
}

.price-title,
.color-title,
.tehno-title {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  ine-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.tehno-title {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 5px;
}

.checkbox-title {
  position: relative;
  padding-left: 39px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.9;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-bluetooth label {
  align-items: center;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  left: 0;
  top: 10px;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.check__input:checked + .check-box {
  background-image: url("../img/checkbox-on.svg");
}

.product-item {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.check__input:checked + .check-radio {
  position: absolute;
  top: 5px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
}

.check__input + .check-radio {
  position: absolute;
  top: 5px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}



.button-new::before {
  content: "";

  position: absolute;
  right: 20px;
  top: 20px;

  width: 60px;
  height: 60px;
  border: solid 2px black;
  border-radius: 50%;
  opacity: 0.2;
}

.button-new::after {
  content: "NEW";
  position: absolute;
  opacity: 0.2;
  right: 35px;
  top: 45px;
}

.product-wrap {
  width: 360px;
}

.product-wrap:nth-child(2n+1) {
  margin-right: 40px;
}

.product-item::before:hover {
  visibility: hidden;
}

.product-item::after:hover {
  visibility: hidden;
}

.product-item img:hover {
  opacity: 0.7;
}

.product-item:hover .product-buttons {
  display: block;
}

.product-buttons {
  position: absolute;
  top: 50%;
  left: 25%;
  display: none;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  color: #000000;
  min-height: 40px;
  width: 200px;
  padding-top: 3px;
}

.add-to-cart:hover {
  background: #f0c52e;
}

.add-to-cart:active {
  color: rgba(0, 0, 0, .3);
}

.add-to-compare {
  padding-left: 30px;

  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.5;
  line-height: 2.77;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.add-to-compare:hover {
  color: #000000;
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}

.items-catalog {
  position: relative;

  background: #ffffff;
}

.page-button {
  font-family: Gilroy;
  font-size: 16px;

  display: flex;
  width: 759px;
  min-height: 70px;
  background-color: #ebebeb;

  margin-bottom: 70px;
  margin-left: 70px;
}

.back-button,
.numbers,
.forward-button {
  display: flex;
  margin-top: 25px;
}

.back-button {
  margin-left: 35px;
  margin-right: 240px;
}

.forward-button {
  margin-left: 230px;
}

.product-title-text {
  margin-bottom: 45px;
}

.product-title {
  display: flex;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.product-price {
  flex-shrink: 0;
  width: 100px;
  text-align: right;

  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: #464646;
}

.product-title-bottom {
  margin: 0;
}

/*next page and forward button*/

.forward-button,
.back-button,
.numbers {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.forward-button,
.back-button {
  text-transform: uppercase;
}

.numbers-middle {
  margin-right: 25px;
  margin-left: 25px;
}

.numbers {
  opacity: 0.3;
}

.numbers:hover {
  opacity: 0.6;
}

.numbers:active {
  opacity: 1;
}

/* pop up*/

.pop-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  width: 960px;
  height: 553px;

  display: none;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  padding: 80px 80px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

input [type="text"]::placeholder {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.4;
}

.pop-up label {
  display: block;
  margin-bottom: 10px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  color: #000000;
}

.appointment-item input {
  border: none;
  width: 360px;
  padding-top: 19px;
  padding-bottom: 21px;
  padding-left: 20px;
  background: #e5e5e5;
  opacity: 0.5;
}

.appointment-item input::placeholder {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  opacity: 0.4;
  line-height: 1.29;
}

.pop-up textarea {
  width: 100%;
  padding-top: 18px;
  padding-left: 20px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  background: #e5e5e5;
  opacity: 0.5;
}

.pop-up-map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.button-pop-up {
  display: block;
  position: absolute;
  bottom: 50px;
}

.appointment-text {
  display: block;
  margin-bottom: 13px;
}

.pop-up-close {
  padding: 0;

  position: absolute;
  top: 22px;
  right: 22px;

  background: none ;
  border: none;

  opacity: 0.5;
}








