body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site navigation +
  header */

.main-header {
  background-color: #f7e296;
}

.logo-device:hover {
  opacity: 0.6;
}

.logo-device:active {
  opacity: 0.3;
}

.site-navigation,
.gilroy-font {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.33;
  letter-spacing: 3.6px;
  list-style: none;
}

.search-field {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #000000;
}

/*delivery, warranty, contacts*/

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.3;
}

.site-navigation-link:hover {
  opacity: 0.6;
}

.site-navigation-link:active {
  opacity: 0.3;
}

.user-link:hover,
.compere-link:hover,
.cart-link:hover {
  opacity: 0.6;
}

.user-link:active,
.compere-link:active,
.cart-link:active {
  opacity: 0.3;
}

.user-navigation {
  list-style: none;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/* slider on site */
.slider-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  color: #000000;
}

.slider-paragraph {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  color: #464646;
}

.button-details,
.gilroy-font {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 222px;
  padding-top: 8px;
}

.button-details:hover {
  background: #f0c52e;
}

.button-details:active {
  color: rgba(0, 0, 0, .3);
}


.slider-descriprion {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.36px;
  color: #000000;
  list-style: none;
}

.slider-advantages-descriptions {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
  list-style: none;
}

.items-groups {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container {
  width: 1160px;
  margin: 0;
}

.items-link {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-description {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.category-description:active {
  opacity: 0.3;
}

.advantages-paragraph {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.advantages-title {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.logo-list {
  list-style: none;
}

.about,
.contacts {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.about-description,
.contacts-description {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #464646;
}

.about-list {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  color: #000000;
}

/*footer*/

.footer {
  background-color: #464646;
}

.footer-logo {
  fill: #ffc600;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

/*social-media*/

.social-media-link {
  list-style: none;
}

.facebook-logo,
.instagram-logo,
.twitter-logo {
  opacity: 0.3;
}

.facebook-logo:hover,
.instagram-logo:hover,
.twitter-logo:hover {
  opacity: 0.6;
}

.facebook-logo:active,
.instagram-logo:active,
.twitter-logo:active {
  opacity: 0.1;
}

/* enter , compare, card */

.user-navigation-footer {
  list-style: none;
}

.user-link-footer,
.compere-link-footer,
.cart-link-footer,
.user-link-footer-log {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  opacity: 0.7;
  line-height: 2.4;
  letter-spacing: 0.15px;
  fill: #ffc600;
  list-style: none;
}

/*delivery, warranty, contacts*/

.site-navigation-footer {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #ffffff;
  list-style: none;
}

.site-navigation-contacts,
.site-navigation-delivery,
.site-navigation-warranty {
  color: #ffffff;
}

.site-navigation-contacts:hover,
.site-navigation-delivery:hover,
.site-navigation-warranty:hover {
  opacity: 0.6;
}

.site-navigation-contacts:active,
.site-navigation-delivery:active,
.site-navigation-warranty:active {
  opacity: 0.3;
}

/* HTMLacademy logo */

.htmlacademy-logo-footer {
  fill: #ffc600;
}

.htmlacademy-logo-footer:hover {
  opacity: 0.6;
}

.htmlacademy-logo-footer:active {
  opacity: 0.3;
}

.user-name,
.user-email,
.user-comment {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}

.button-submit {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3.6px;
  text-align: center;
  background: linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
  min-height: 40px;
  width: 222px;
  padding-top: 8px;
}

.button-submit:hover {
  background: #f0c52e;
}

.button-submit:active {
  color: rgba(0, 0, 0, .3);
}


.footer-address,
.footer-tel {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
}

/* style for catalog */

.catalog-title {
  font-family: Gilroy, sans-serif;
  font-size: 42px;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000000;
}

.catalog-breadcrumbs {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: #000000;
  opacity: 0.3;
  list-style: none;
}

.switch {
  opacity: 0.2;
}

.switch:hover {
 opacity: 0.4;
}

.switch:active {
  opacity: 1;
}

.breadcrumbs-main:hover,
.breadcrumbs-catalog:hover,
.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-main:active,
.breadcrumbs-catalog:active,
.breadcrumbs-item:active {
  opacity: 0.1;
}


.catalog-filter {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.catalog-sort {
  font-family: Gilroy, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.sort-by {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.3;
}

.sort-by:hover {
  opacity: 0.6;
}

.sort-by:active {
  opacity: 1;
}

.price-title,
.color-title,
.tehno-title {
  font-family: Gilroy, sans-serif ;
  font-size: 18px;
  ine-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.add-to-cart {
  display: block;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
  background: linear-gradient(#ffffff 16px, #f0c52e 16px, #f0c52e 24px, #ffffff 24px);
  color: #000000;
  min-height: 40px;
  width: 200px;
  padding-top: 14px;
}

.add-to-cart:hover {
  background: #f0c52e;
}

.add-to-compare {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  opacity: 0.5;
  line-height: 2.77;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.product-title {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.product-price {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: #464646;
}

.forward-button,
.back-button {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}




/* pop up*/

.pop-up {
  position: fixed;
  top: 25%;
  margin-left: 240px;
  color: #000000;
  width: 960px;
  height: 553px;

  display: none;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  padding: 80px 80px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.pop-up-map {

}










